body {
  font-family: "Work Sans", sans-serif;
}

h1 {
  font-size: 60px;
  margin: 0;
  padding: 0;
}

.navbar-area {
  width: 100%;
  height: 40px;
  display: none;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  position: fixed;
}

.navbar {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 80px;
  background-color: rgb(255, 255, 255);
  justify-content: space-between;
}

.pages {
  margin-top: 10px;
  margin-right: 20px;
  padding: 20px;
  width: 300px;
  height: 30px;
  display: flex;
  justify-content: space-between;
}
.page {
  font-size: larger;
  font-weight: bolder;
  text-decoration-line: underline;
  text-underline-offset: 3px;
  color: #2e3f8b;
}

.section {
  width: 100%;
  height: 600px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.intro {
  background: rgb(26, 25, 25);
  background-image: url("intro-pattern.jpg");
  background-blend-mode: multiply;
  background-size: cover;
  color: #ef744b;
}

.social {
  width: 80px;
  height: 80px;
}

.socials {
  width: 500px;
  height: 250px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-top: 20px;
}

.mainlogo {
  width: 80px;
  height: 70px;
  margin: 10px;
  margin-left: 50px;
  object-fit: contain;
  align-self: center;
}

.gradient_text {
  background-image: linear-gradient(
    90deg,
    rgb(200, 100, 100),
    rgb(80, 20, 220)
  );
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}

.gradient_text::before {
  content: "Namaste!";
  font-size: 2rem;
  color: #ffffff;
  background-color: red;
  display: table;
}

.flex {
  width: 100%;
  height: 100px;
  display: flex;
  justify-content: space-evenly;
}

.intro-para {
  width: 50%;
  height: 200px;
}

.projects {
  height: 800px;
  background-color: rgb(157 157 157);
  flex-direction: column;
}
.aboutme {
  background-color: rgb(255, 255, 255);
}

.project-card {
  width: 300px;
  height: 500px;
  box-shadow: 5px 5px 20px rgb(0, 0, 0);
  margin: 20px;
  border-radius: 10px;
  background: rgb(83, 83, 83);
  text-align: center;
}

.project-container {
  display: flex;
  justify-content: space-around;
}
.subtext {
  font-size: 15px;
  font-weight: 300;
}

.project-image {
  margin-top: 10px;
  width: 280px;
  border-radius: 10px;
  opacity: 20%;
  box-shadow: 5px 5px 20px rgb(44, 44, 44);
}
.project-link {
  text-decoration: none;
  font-size: 20px;
  color: #2e3f8b;
}

.skills {
  background-color: rgb(83, 83, 83);
  justify-content: space-evenly;
  padding-top: 30px;
  background-image: url("skillimg.png");
  background-blend-mode: soft-light;
}
.skillheading {
  width: 250px;
  height: auto;
  color: #000000;
  font-size: 30px;
}
.skilldiv {
  width: 300px;
  height: 40%;
  background-color: #535353;
  text-align: center;
  padding: 40px;
  box-shadow: 10px 10px 30px 5px #2f3344;
  border: solid rgb(153, 136, 136);
  border-radius: 10px;
}
ul {
  list-style-type: none;
  padding: 0;
}
li {
  padding: 10px;
  font-weight: lighter;
  font-size: larger;
}
.footer {
  background-image: url("mountain img.jpg");
  background-color: rgb(36, 36, 36);
  background-size: cover;
  background-blend-mode: overlay;
}

.footerdiv {
  width: 200px;
  height: 300px;
  background: rgb(0, 0, 0);
  margin: 20px;
  color: rgb(41, 41, 41);
  text-align: center;
}

.copyright {
  width: 100%;
  height: 50px;
  text-align: center;
  background: rgb(82, 82, 82);
}
@media only screen and (max-width: 800px) {
  h1 {
    font-size: 50px;
    margin: 0;
    padding: 0;
  }

  .projects {
    height: auto;
  }

  .project-container {
    flex-direction: column;
  }
  .intro-para {
    width: 80%;
    height: 200px;
  }
  .project-card {
    box-shadow: 5px 5px 20px rgb(0, 0, 0);
    margin: 20px;
    background: rgb(83, 83, 83);
    border-radius: 10px;
    text-align: center;
  }
}
