* {
  font-family: "Roboto Mono", monospace;
}

body {
  background: linear-gradient(90deg, rgb(200, 100, 100), rgb(80, 20, 220));
  color: white;
}

h1 {
  font-size: 60px;
  margin: 0;
  padding: 0;
}

.navbar-area {
  width: 100%;
  height: 40px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.navbar {
  display: flex;
  flex-direction: row;
  width: 1000%;
  height: 40px;
  background-color: rgb(255, 255, 255);
  justify-content: space-between;
  font-family: "Roboto Mono", serif;
  color: rgb(0, 0, 0);
  font-size: 20px;
  justify-self: center;
}

.section {
  width: 100%;
  height: 600px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.intro {
  background: black;
}

.social {
  width: 50px;
  height: 50px;
}

.socials {
  width: 150px;
  height: 40px;
  display: flex;
  justify-content: space-between;
  align-self: center;
  margin-top: 10px;
}

.intro-logo {
  width: 30px;
  height: 40px;
  margin-left: 50px;
  object-fit: contain;
  align-self: center;
}

.gradient_text {
  background: linear-gradient(90deg, rgb(200, 100, 100), rgb(80, 20, 220));
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}

.gradient_text:hover {
  background: linear-gradient(270deg, rgb(200, 100, 100), rgb(80, 20, 220));
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}

.gradient_text::before {
  content: "Hello!";
  font-size: 2rem;
  color: #ffffff;
  background-color: red;
  display: table;
}

.profile-pic {
  border-radius: 50%;
}

.flex {
  width: 100%;
  height: 100px;
  display: flex;
  justify-content: space-evenly;
}

.intro-para {
  width: 80%;
  height: 200px;
  transform: translateX(-300px);
}

.image-container {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  display: flex;
  background-color: white;
}

.glow {
  box-shadow: 0 0 50px 10px rgb(10, 10, 10),
    20px 20px 200px 20px rgb(45, 0, 150);
}

.projects {
  height: 800px;
  background-color: rgb(50, 50, 50);
  flex-direction: column;
}
.aboutme {
  background-color: rgb(255, 255, 255);
}

.project-card {
  width: 300px;
  height: 500px;
  box-shadow: 5px 5px 20px rgb(0, 0, 0);
  margin: 20px;
  background: rgb(83, 83, 83);
  text-align: center;
}

.project-container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-around;
}
.subtext {
  font-size: 15px;
  font-weight: 300;
}

.project-image {
  margin-top: 30px;
  width: 250px;
  border-radius: 20%;
}
.project-link {
  text-decoration: none;
  color: #ef744b;
}

.footer {
  background-color: linen;
}
@media only screen and (max-width: 800px) {
  .image-container {
    width: 0;
    height: 0;
  }
  h1 {
    font-size: 50px;
    margin: 0;
    padding: 0;
  }

  .projects {
    height: auto;
  }

  .project-container {
    flex-direction: column;
  }
  .intro-para {
    width: 80%;
    height: 200px;
    transform: translateX(0px);
  }
}
